<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework"
    type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
    requirePermission="false"/>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <appSettings>
    <add key="ConnectionString"
      value="6SRsr8tPrOC+dzLjvX/mnrCo4ROgNM7mQ4airzIo1TOT/g5YunXTznbnjnLy7M13fOstSbrMgfVD7XBQhWUT8dgl7WR+q+M/siCMtX5SiD1c5kHwd35qfLxhC8H4/q4UkIm+Bj9DkQZVaMD12+O+6PS46gRB04s5ZjTFywGT6WNapCjOO6TDT62/giLSMHUbA1LMBbC5hXwCcNisMqv4BvWJnMdimjn6EbjVLxfTazMfqErmz/owLTJXHy9MLnWWPkOO5dXfAeAalYqRgIBy3xiBqMZGLuY+Y538Fw5Bgtg="/>
  </appSettings>
</configuration>
